.projeBox{
    width: 250px;
<<<<<<< HEAD
    margin-right: 12px;
=======
    margin-left:0px !important;
>>>>>>> 82f6ecd7c5779c1d721ea93671ad3f570ea7e46d
}
.modal-body{
    padding: 0;
}
.card-text{
    font-size: 15px;
}
.image-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s; 
  }
  .modal-dialog{
    width: 400px;
}
  .image-container:hover .card-img-top {
    transform: scale(1.2); 
  }
  @media (max-width: 768px) {
    .modal-dialog{
        margin-top: 150px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
