* {
  font-family: "Lexend", sans-serif;
}

/* Genel scroll bar stilini tanımlayın */
::-webkit-scrollbar {
  width: 8px !important; /* Kaydırma çubuğunun genişliği */
}

/* Kaydırma çubuğunun arka planını tanımlayın */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important; /* Kaydırma çubuğunun arka plan rengi */
  border-radius: 10px !important; /* Köşeleri yuvarlatma */
}

/* Kaydırma çubuğunun kendisini tanımlayın */
::-webkit-scrollbar-thumb {
  background: #888 !important; /* Kaydırma çubuğunun rengi */
  border-radius: 10px !important; /* Köşeleri yuvarlatma */
}

/* Kaydırma çubuğunun üzerine gelindiğinde görünümünü tanımlayın */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important; /* Hover rengi */
}
